<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110494690-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110494690-2');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="robots" content="all" />
  <link rel="canonical" href="https://niels.ment.ink" />
  <meta name="description" content="Hi! I'm Niels, a web developer creating experiences that stick with people." />
  <meta name="theme-color" content="#0066ff" />
  <meta content="en_US" property="og:locale" />
  <meta property="og:title" content="{{title}} {{settings.title.separator}} {{settings.title.suffix}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://niels.ment.ink/" />
  <meta property="og:image" content="https://niels.ment.ink/me.webp" />
  <link rel="shortcut icon" href="https://niels.ment.ink/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="https://niels.ment.ink/favicon.ico" />
  <title>{{title}} {{settings.title.separator}} {{settings.title.suffix}}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/fonts/web/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
</head>

<body id="{{pageid}}">
  <div class="mainwrapper">
    {{{content}}}
  </div>

  <script src="/jquery.min.js"></script>
  <script src="/icons/feather.min.js"></script>
  <script src="/main.js"></script>
</body>

</html>