---
layout: main
---

{{> partials/header }}

<main>
  <section class="content">
    <h1><a href="/#projects">{{#if icon}}<i data-feather="{{icon}}"></i></a>{{/if}}{{ title }}</h1>
    <div class="card">
      <a class="image" href="{{image}}">
        <img src="{{image}}" alt="{{title}}">
      </a>
      <div class="introcontainer">
        <p>
          {{description}}
        </p>
        <div class="iconwrapper">
          <div class="left">
            {{#if demo}}
            <a href="{{demo}}" title="Demo" target="_blank"><i data-feather="external-link"></i></a>
            {{/if}}
            {{#if code}}
            <a href="{{code}}" title="Code" target="_blank"><i data-feather="code"></i></a>
            {{/if}}
          </div>
          <div class="right">
            {{#each uses}}
            <div class="bgicon" title="{{this}}" style="background-image: url(/icons/{{this}}.svg);"></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{{ content }}}
  </section>
</main>

{{> partials/footer }}